<!DOCTYPE html>
<html>
  <head>
    <title>TrainPunctualityTool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="user_nav">
      <% if actual_user() %>
        <%= link_to("Log out", log_out_path()) %>
      <% else %>
        <%= link_to("Log in", log_in_path()) %>
      <% end %>
    </div>

    <% flash.each() do |messageName, tag| %>
      <%= content_tag(:div, :id => "flash_#{messageName}") %>
    <% end %>

    <%= yield %>
  </body>
</html>
